
.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.main-content {
    flex: 1;
    height: 100vh;
    background-color: #f4f7fa;
    box-sizing: border-box;
    overflow-y: auto;
}