/*main container*/
.Dashboard-container {
    padding: 0;
}


/*blue top bar*/
.dashboard-header {
    background-color:#0a2d4d;

    color: white;
    font-weight: bold;
    font-size: 24px;

    /*Space*/
    padding: 20px 30px;
    border-radius: 0;
    margin-bottom: 30px;

}

.Dashboard-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.stat-card{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border-left: 6px solid #2980b9;
    margin-left: 20px;
    margin-right: 20px;
}

.card-top-row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}


.card-icon{
    font-size: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.card-title {
    font-size: 16px;
    color: #556;
    font-weight: bold;
}

.card-value{
    font-size: 44px;
    font-weight: bold;
    color: #333;
}

/*Card border colors*/
.card-border-blue { border-left-color: #2980b9; }
.card-border-purple { border-left-color: #8e44ad; }
.card-border-orange { border-left-color: #e67e22; }
.card-border-red { border-left-color: #e74c3c; }
.card-border-yellow { border-left-color: #f1c40f; }

/*Card icon colors*/
.card-icon.icon-green { color: #27ae60; }
.card-icon.icon-red { color: #e74c3c; }
.card-icon.icon-purple { color: #8e44ad; }
.card-icon.icon-orange { color: #e67e22; }
.card-icon.icon-yellow { color: #f1c40f; }