* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-section {
    width: 45%;
    background: #0b3d91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-img {
    width: 90%;
}

.right-section {
    width: 55%;
    padding: 40px;
}

.right-section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

.register-btn {
    background: #8bb6ff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.register-btn:hover {
    background: #6ca6ff;
}
/**/