
.update-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/*  LEFT BLUE PANEL */
.left-panel {
    width: 50%;
    background-color: #0f3ea8;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-text {
    font-size: 22px;
    text-align: center;
}

.back-btn {
    margin-top: 40px;
    padding: 12px 25px;
    background-color: #2d6cdf;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* RIGHT SIDE */
.right-panel {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-box {
    background-color: #eef3ff;
    padding: 40px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-btn {
    background-color: #79aaff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}