.verify-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.left-section {
    width: 50%;
    background-color: #0a2d4d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.instruction-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.back-btn {
    background: #3f75ff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* RIGHT SIDE */
.right-section {
    width: 50%;
    background: #f7faff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* OTP BOXES */
.otp-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.otp-input {
    width: 55px;
    height: 55px;
    border: 2px solid #d0d4da;
    background: white;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

/* Verify button */
.verify-btn {
    background: #7ab3ff;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.resend-link {
    color: #666;
    cursor: pointer;
    margin-top: 15px;
}